@font-face {
    font-family: 'Andada Pro';
    src: url(AndadaPro-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: 'Moustache';
    src: url(Moustache.woff);
    font-display: swap;
}

body {
    overflow: hidden;
    font-family: 'Andada Pro', serif;
}

h1 {
    font-family: 'Moustache', serif;
    font-size: 72px;
    margin: 30px;
}

table,
tr,
td {
    border: none !important;
    padding: 0;
}

.mainpage-layout {
    position: absolute;
    table-layout: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #84D2F6;
    text-align: center;
}

.mainpage-layoutbox {
    width: 50vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
}

.mainpage-photo {
    object-fit: contain;
    max-height: 100%;
    width: auto;
}

.mainpage-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 85%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #91E5F6;
    border-radius: 1rem;
    padding: 2%;
}

.mainpage-button {
    color: #fff;
    background-color: #59A5D8;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    margin: 2%;
    text-decoration: none;
    font-size: 20px;
}
.mainpage-button:hover {
    background-color: #386FA4;
}
.mainpage-button:active {
    position:relative;
	top:1px;
}